.genel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: auto;
}



.child{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
}






